In [1]:
pd=(4,8,15,16,23,42)

In [2]:
print (pd)

(4, 8, 15, 16, 23, 42)

In [3]:
import pandas as pd
x=pd.Series(['1','3','4','7'])
print(x)

0    1
1    3
2    4
3    7
dtype: object

In [4]:
import pandas as pd 
lst=['samad','tofee','portal']
df=pd.DataFrame(lst)
print(df)

        0
0   samad
1   tofee
2  portal

In [5]:
data={'Name':['Alice','Bob','Claire'],'Age':['25','30','27'],'Gender':['Female','Male','Female']}

In [7]:
df1=pd.DataFrame(data)
print(df1)

     Name Age  Gender
0   Alice  25  Female
1     Bob  30    Male
2  Claire  27  Female

In [8]:
##What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [9]:
##DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [11]:
##Most Important Pandas Functions for Data Science
##read_csv() This is one of the most crucial pandas methods in Python. ... head() head(n) is used to return the first n rows of a dataset. ...describe() ...memory_usage() ...astype() ...loc[:] ...to_datetime() ...value_counts()

In [12]:
##DataFrames are both value and size-mutable (A Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed

In [13]:
import pandas as pd

# Create pandas Series
courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print("Create pandas Series:\n",df)

Create pandas Series:
          0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000